@keyframes linkUnderline {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #414141; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr); }

.header {
  background-image: linear-gradient(to bottom, rgba(16, 29, 44, 0.95), rgba(24, 43, 58, 0.85)), url("/imgs/index-hero.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  width: 100%;
  grid-column: 1 / -1;
  position: relative; }
  .header-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    text-align: center; }
  .header-heading {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem; }
    .header-heading-main {
      display: block;
      font-size: 8rem;
      font-weight: 300;
      letter-spacing: 1.5rem; }
    .header-heading-sub {
      display: block;
      font-size: 2rem;
      letter-spacing: .5rem;
      color: #f2f6f5e2;
      font-weight: 300; }

.cta:link,
.cta:visited {
  background-image: linear-gradient(to bottom, #f2f6f5e2, #fff);
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: #414141;
  text-transform: uppercase;
  letter-spacing: .2rem;
  transition: all .2s;
  display: inline-block;
  border-radius: 10rem; }

.cta:hover {
  background-image: linear-gradient(to bottom, #d3461c, #b13232);
  color: #fff;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.3); }

.cta:active {
  box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.2); }

.navbar {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 25% auto;
  justify-content: space-between;
  padding: 3rem 5rem;
  align-content: center;
  align-items: center; }
  .navbar-logo-box {
    grid-column: 1 / 4;
    grid-row: 1 / 1; }
  .navbar-logo {
    height: 5rem; }
  .navbar-link-box {
    list-style: none;
    grid-column: 5 / 9;
    grid-row: 1 / 1;
    display: flex; }
  .navbar-items {
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 100%; }
  .navbar-links:link, .navbar-links:visited {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    height: 100%; }
    .navbar-links:link:hover, .navbar-links:visited:hover {
      background: rgba(255, 255, 255, 0.7);
      color: #101d2c; }
