.footer {
    grid-column: 1 / 11;
    padding: 10rem; 
    background-image: linear-gradient(to top,
        rgba($dark-blue, .9),
        rgba($light-blue, 1)),
        url("/imgs/index-hero.jpg");
    background-size: cover;
    background-position: center;
    color: $light-gray;
    font-size: 1.6rem;

    &-nav {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 1rem;
        align-items: center;


        &-item {

        }

        &-link:link,
        &-link:visited {
            color: $light-gray;
            font-size: 1.4rem;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            padding: 1.5rem;
            display: block;
            transition: all .2s;
        }
    }
}