.main {
    grid-column: 1 / 11;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, min-content);
    // grid-row-gap: 2rem;

}

.exp {
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    

    &-card {
        padding: 4rem 10rem;
        text-align: center;

        &-header {
            font-size: 2.5rem;
            color: $light-red;
            font-weight: 100;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        &-paragraph {
            font-size: 1.6rem;
        }
    }
    svg {
        fill: $dark-gray;
        width: 10rem;
    }
}
//INDEX PAGE SERVICES SECTION
.services {
    grid-row: 2 / 3;
    grid-column: 1 / 11;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    align-items: center;
    padding: 4rem 0;
    background-image: linear-gradient(to left,
        rgba($light-gray, 1),
        rgba($light-red, .08));
        // url("/imgs/services-bg.jpg");
    background-size: cover;
    background-position: top;
    
    &-text {
        grid-column: 1 / 4;
        padding: 6rem 8rem;

        &-title {
            font-size: 4rem;
            font-family: $title-font;
            text-transform: uppercase;
        }
    }

    &-types {
        grid-column: 4 / 9;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
        justify-items: start;

        &-card {
            padding: 0 6rem;
            text-align: center;

            svg {
                width: 6rem;
                height: auto;
                fill: $light-blue;
                padding: 0;
                margin: 0;
            }
        }

        &-heading {
            font-size: 1.75rem;
            text-transform: uppercase;
            color: $dark-yellow;
            font-family: $title-font;
            font-weight: 400;
        }
    }

}

//DESIGNS SECTION CODE
.designs {
    grid-column: 1 / 11;
    grid-row: 3 / 4;
    margin-bottom: 3rem;
    display: grid;
    grid-template-rows: minmax(min-content, 1fr);
    grid-template-columns: repeat(10, 1fr);
    padding: 4rem 8rem;

    &-title {
        grid-column: 1 / 11;
        padding: 4rem 5rem;
        text-align: center;

        &-heading {
            font-size: 4rem;
            font-family: $title-font;
            text-transform: uppercase;
        }

        &-p {
            font-size: 1.6rem;
            margin-top: 1rem;
        }

        &-a:link,
        &-a:visited {
            text-decoration: none;
            display: inline-block;
            padding: .3rem .5rem;
            font-size: 1.4rem;
            color: $light-red;
            transition: all .3s;
        }
        
        &-a:hover {
            background: $light-red;
            color: $white;
            transform: translateY(-.4rem);
            border-radius: 1px;
        }
    }

    &-types {
        grid-column: 1 / 11;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        align-items: center;
        grid-gap: 1rem;
        justify-items: center;
        padding: 4rem 0;

    }


    &-figure {
        width: 20rem;
        position: relative;
        box-shadow: 0 2rem 4rem rgba($black, .7);
        margin: 2rem;
    }

    &-image {
        width: 100%;
        transform: scale(1.4);
        transition: all .5s;
    }

    &-caption {
        position: absolute;
        @include centerAbs;
        color: $white;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        transition: opacity .5s;
        opacity: 0;
        letter-spacing: 1px;
    }

    &-image:hover ~ &-caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &-image:hover {
        transform: scale(1.2);
        filter: blur(2px) brightness(80%);
    }

}

.testimony {
    grid-row: 4 / 5;
    grid-column: 1 / 11;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 2rem;
    padding: 15rem 5rem 15rem 5rem;
    background-image: linear-gradient(to bottom, $light-gray, $white);
    align-items: center;

    &-title {
        text-align: center;

        &-heading {
            font-size: 3rem;
            font-family: $title-font;
            text-transform: uppercase;
        }
        p {
            font-size: 1.6rem;
        }

        &-link:link,
        &-link:visited {
            text-decoration: none;
            display: inline-block;
            padding: .3rem .5rem;
            font-size: 1.4rem;
            color: $light-red;
            transition: all .3s;
        }
        
        &-link:hover {
            background: $light-red;
            color: $white;
            border-radius: 1px;
            padding: .3rem 1rem;
        }
    }
    
    .client-card {
        display: flex;
        flex-direction: row;
        box-shadow: 0 2rem 5rem rgba($black, .3);
        height: 18rem;
        background: $white;
        border-radius: 1px;
        position: relative;

        &-img {
            margin-right: 2rem;
        }
        &-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        &-p {
            font-size: 1.5rem;
            margin-top: 2rem;
        }
        &-name {
            font-size: 1.6rem;
            letter-spacing: 1px;
            font-weight: 200;
            color: $light-red;
        }
        &-link:link,
        &-link:visited {
            text-decoration: none;
            font-size: 1rem;
            display: inline-block;
            padding: .2rem .5rem;
            color: $dark-blue;
            letter-spacing: 2px;
            transition: all .3s;
            margin-top: 1rem;

            &:hover {
                background: $light-red;
                color: $white;
                transform: translateY(.1rem);
                box-shadow: 0 1rem 1rem rgba($black, .2);
            }
        }
        &::before {
            content: "\201C";
            position: absolute;
            top: -5.3rem;
            right: -.95rem;
            font-size: 15rem;
            color: rgba($dark-gray, .1);
            font-family: sans-serif;
        }
    }
}


.contact {
    grid-row: 5 / 6;
    grid-column: 1 / 11;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
    padding: 10rem 6rem;
    background: $white;
    text-align: center;


    &-title {
        margin: 0 auto;
        text-align: center;
        
        p {
            margin-top: 2rem;
            font-size: 1.6rem;
            color: rgba($dark-gray, .7);
        }
    }

    &-heading {
        font-size: 3rem;
        font-family: $title-font;
        text-transform: uppercase;
        
        &-link:link,
        &-link:visited {
            padding: .5rem 1rem;
            margin-top: 1rem;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.2rem;
            display: inline-block;
            color: $light-red;
            transition: all .3s;
            
            &:hover {
                color: $white;
                background: $light-red;
                transform: translateY(-.4rem);
                box-shadow: 0 .5rem 1rem rgba($black, .3);
            }
            &:active {
                transform: translateY(-.2rem);
                box-shadow: 0 .2rem .5rem rgba($black, .3);
            }
        }
    }

    h4 {
        font-size: 2rem;
        font-weight: 400;
        font-family: $title-font;
    }
    svg {
        width: 10rem;
        fill: $dark-gray;
        transition: all .3s;
    }
    svg:hover {
        fill: $light-red;
        transform: translateY(-.4rem);
    }
}